* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist","Inter", sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-image: #333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #dfe3e7 20%, #9b9797 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
